<hr style="height: 6px; background: #D39E59; border: 0; margin: 0;">
<footer>
    <div class="container">
        <div class="fs">
            <div class="f1">
                <h5>© Cerera 2019</h5>
                <h5>45 Crescent Road
                    Pinetree Avenue
                    P.O. Box 3242</h5>
                <a href="tel: +614 7343 3254">+614 7343 3254</a>
                <div class="soc">
                    <a href=""><img src="images/facebook-logo.svg" alt=""></a>
                    <a href=""><img src="images/twitter.svg" alt=""></a>
                </div>
            </div>
            <div class="f2">
                <div class="f21">
                    <h5>Catalog</h5>
                    <a href="">Dried apricots</a>
                    <a href="">Raisins</a>
                    <a href="">Pine nut</a>
                    <a href="">Pine pillow</a>
                    <a href="">Sale</a>
                </div>
                <div class="f22">
                    <h5>Menu</h5>
                    <a href="">Delivery</a>
                    <a href="">Blog</a>
                    <a href="">About</a>
                    <a href="">Contacts</a>
                </div>
            </div>
            <div class="f3">
                <h5>Instagram<span>#Carera</span></h5>
                <div class="images">
                    <img src="images/f1.svg" alt="">
                    <img src="images/f1.svg" alt="">
                    <img src="images/f1.svg" alt="">
                    <img src="images/f1.svg" alt="">
                    <img src="images/f1.svg" alt="">
                    <img src="images/f1.svg" alt="">
                </div>
            </div>
            <div class="f4">
                <a href="#"><div class="up"><img src="images/arrow_upward-24px.svg" alt=""></div></a>
            </div>
        </div>
    </div>
</footer>

<script src="js/script.js"></script>

<script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>

<script>
    var swiper = new Swiper("#pictures", {
        pagination: {
          el: ".swiper-pagination",
        },
    });   
    var swiper1 = new Swiper(".MySwiper", {
        rewind: true,
        spaceBetween: 16,
        slidesPerView: 1,
        navigation: {
          nextEl: ".j12",
          prevEl: ".j11",
        },
        breakpoints: {
            500: {
                slidesPerView: 2,
            }
        }
    });   
</script>

</body>
</html>